
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
}

* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5 ease-in;
}

/*Header*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
     background-color: rgba(157, 132, 183, 0.9);
     z-index: 1;
     overflow: hidden;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-item {
    list-style: none;
    margin: 0 20px;
}

.header__navbar {
    transition: 0.5s;
}

.bio-main {
    display: flex;
}

.header__nav-main {
    line-height: 60px;
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    letter-spacing: 2px;
    transition: 0.5s;
}

.header__navbar-item {
    list-style-type: none;
    display: inline-block;
}


.header__navbar-link {
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: #FFF;
    padding: 10px 24px;
    font-size: 1.4rem;
    transition: 0.2s;

}

.header__navbar-link:hover {
    background-color: #fff;
    color: #9D84B7;
    transition: 0.5s;
    border-radius: 10px;
}

.header__navbar-link:active {
    opacity: 0.8;
    transition: 0.1s
}

.header__navbar-link {

}

.header__navbar-link-icon {
    margin: 0 6px;
}

.header__nav-img {
    height: 50px;
    margin: 5px 0px;
    border-radius: 100%;
    border: 2px dashed #fff;
}

.header__nav-img:hover {
    border-color: #B5EAEA;
    border-style: solid;
    transition: 1s;
}

/*Slider*/

.slider {
    margin-top: 60px;
    padding-top: 45%;
    background:linear-gradient(90deg, rgba(106, 178, 211, 0.3), rgba(212, 116, 142, 0.3)) ,url('../img/Untitled6.jpeg') center / cover no-repeat;
    position: relative;
}

.slider__content {
    width: 100%;
    position: absolute;
    bottom: 100px;
}

.slider__slogan-text {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
    display: block;
    padding: 10px 5px;
    transition: 0.8s;
}

.slider__slogan-text:hover {
    color: #9D84B7;
    transition: 0.8s;
    background-color: #fff;
    border-radius: 10px;
    letter-spacing: 3px;
}

.slider__slogan-bio {
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    display: block;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: 0.7;

}

/*Content*/

/*Common*/
.content-heading {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    line-height: 2rem;

}

.pdt150 {
    padding: 150px 0;
}

.pdt100 {
    padding: 100px 0;
}

.ls8 {
    letter-spacing: 8px;
}

.ls2 {
    letter-spacing: 2px;
}

.p-30 {
    padding: 0px 0px 30px;
}
/**/

.content {
    min-height: 1000px;
}

/*About Selection*/

.content-aboutme {
    background-color: #84adad;
    min-height: 800px;
    transition:3s;
}

.content-aboutme:hover {
    background-color: #B5EAEA;
    transition: 1s;
}

.aboutme {
    width: 100%;
}

.aboutme-heading {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px; 

}

.aboutme-container {
    display: flex; 
    flex-direction: row;
    margin-top: 50px;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    margin: 100px;
}

.aboutme-para {
    font-size: 1.7rem;
    line-height: 1.6;
    flex: 2;
    margin: 0px 10px;
    color: #9D84B7;
    text-align: justify;
    font-weight: 500;
    padding: 40px;
    background-color: #FFF;
    border-radius: 20px;
}


.aboutme-para:hover {
    border: 5px solid #9D84B7;
    transition: 0.5s;
}


.aboutme-avt {
    margin: 0px 10px;
    flex: 1;
    width: 50%;
    border-radius: 30px;
    border: 2px solid #fff;
}

.aboutme-avt:hover {
    border: 10px solid #9D84B7;
    transition: 0.5s;
    opacity: 0.8;
}

.aboutme-avt:active {
    opacity: 0.9;
    transition: 0.2s;
    border-color: #A2D2FF;
}

.aboutme-para2 {
    font-size: 1.6rem;
    line-height: 1.6;
    flex: 1;
    margin: 0px 20px;
    color: #9D84B7;
}

.aboutme-subcontainer {
    width: 100%;
}

.sub-container-img {
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    border-color:#9D84B7;
}

.sub-container-img:hover {
    border: 20px solid #9D84B7;
    transition: 0.8s;
}

.sub-container-img:active {
    opacity: 0.7;
    transition: 0.2s;
}

.subcontainer-surprise {
    width: 100%;
}

.subcontainer-heading {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 2px;
    color: #9D84B7;
    padding: 40px;
    display: inline-block;


}

.subcontainer-heading:hover {
    color: #9D84B7;
    transition: 0.8s;
    letter-spacing: 6px;
}

/*Achiverment Selection*/

.content-thediamonds {
    background-color: #a19ac4;
    min-height: 800px;
    transition:3s;
}

.content-thediamonds:hover {
    background-color: #9D84B7;
    transition:1s;
}

.thediamonds {
    display: flex;
    margin: 60px 40px;
}

.thediamonds-img {
    width: 35%;
    flex: 1;
    border-radius: 20px;
    margin: 0px 10px;
    border: 2px solid #9D84B7;
}

.thediamonds-p {
    margin: 0px 10px;
    font-size: 2rem;
    line-height: 1.6;
    flex: 1.5;
    font-family: 'Mukta', sans-serif;
    color: #9D84B7;
    text-align: justify;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

.content-thediamonds:hover .thediamonds-p{
    flex:0.9;
    transition: 2s;
    }
    
    .content-thediamonds:hover .thediamonds-img{
        flex: 1;
        transition: 1s;
        border: 6px solid #FFF;
        opacity: 0.8;
        }

/*Love Selection*/

.content-aboutmylove {
    background-color: #f8e4a4;
    min-height: 800px;
}

/*More Selection*/

.content-more {
    background-color: #F1B5C4;
    min-height: 800px;
}

.thediamonds-audio {
    margin: 0 29%;
    border-radius: 20px;
}

.lovetesting {
    border-radius: 20px;
    margin: 0px 10% 150px;
}

iframe.lovetesting {
    width: 80%;
    height: 756px;
}

::webkit-scrollbar{
    width: 25px;
}

::webkit-scrollbar-track{
    border:7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #A4CDE4, #E4A3B7 );
    border-radius: 3px;
}

.hide-on-pc {
    display: none;
}