@media (max-width: 46.1875em) {
    /*Header*/
    .header {
        z-index: 5;
        overflow: hidden;
        height: 80px;
        transition: 1s;
    }



    .header__nav-main{
        display: none;
    }

    .header__nav-img {
        height: 30px;
        margin: 22px 0px;
        border-radius: 100%;
        border: 2px dashed #fff;
    }



    .header__navbar-link {
        text-decoration: none;
        text-align: center;
        line-height: 80px;
        color: #FFF;
        padding: 20px 1px;
        font-size: 0.9rem;
    }

    /*Slider*/

    .slider {
        transition: 1s;
        padding-top: 53%;
        position: relative;
        margin-top: 80px;
    }

    .slider__slogan-text {
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
        display: block;
    }

    .slider__slogan-text:hover {
        color: #9D84B7;
        transition: 0.8s;
        background-color: #fff;
        border-radius: 10px;
        letter-spacing: 2px;
    }

    .slider__slogan-bio {
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
        color: #fff;
        font-size: 0.8rem;
        display: block;
        margin-top: 10px;
        font-style: italic;
        font-weight: 600;
    
    }

    /*Content*/


.content-aboutme {
    background-color: #B5EAEA;
    min-height: 800px;
}

.aboutme {
    width: 100%;
}

.aboutme-heading {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px; 

}

.aboutme-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    margin: 20px;
}

.aboutme-para {
    font-size: 1.6rem;
    line-height: 1.6;
    flex: 1;
    margin: 0px 0px;
    color: #9D84B7;
    text-align: justify;
    font-weight: 500;
    padding: 40px;
    background-color: #FFF;
    border-radius: 20px;
}


.aboutme-avt {
    width: 100%;
    border-radius: 30px;
    margin:20px 0px;
    border: 2px solid #fff;
}

.aboutme-avt:hover {
    border: 10px solid #9D84B7;
    transition: 0.5s;
    opacity: 0.8;
}

.aboutme-avt:active {
    opacity: 0.9;
    transition: 0.2s;
    border-color: #A2D2FF;
}

.aboutme-para2 {
    font-size: 1.6rem;
    line-height: 1.6;
    flex: 1;
    margin: 0px 20px;
    color: #9D84B7;
}

.aboutme-subcontainer {
    width: 100%;
}

.sub-container-img {
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    border-color:#9D84B7;
}

.sub-container-img:hover {
    border: 20px solid #9D84B7;
    transition: 0.8s;
}

.sub-container-img:active {
    opacity: 0.7;
    transition: 0.2s;
}

.subcontainer-surprise {
    width: 100%;
}

.subcontainer-heading {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 2px;
    color: #9D84B7;
    padding: 40px;
    display: inline-block;


}

.subcontainer-heading:hover {
    color: #9D84B7;
    transition: 0.8s;
    letter-spacing: 6px;
}

/*The Diamonds Content*/
    


.content-thediamonds {
    background-color: #C4BDEB;
    min-height: 800px;
}

.thediamonds {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
}

.thediamonds-img {
    width: 95%;
    flex: 1;
    border-radius: 20px;
    margin: 30px auto;
    border: 2px solid #9D84B7;
}

.thediamonds-p {
    margin: 0px 10px;
    font-size: 1.6rem;
    line-height: 1.6;
    flex: 1.5;
    font-family: 'Mukta', sans-serif;
    color: #9D84B7;
    text-align: justify;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
} 

.lovetesting {
    margin: 0;
}

.thediamonds-audio {
    margin: 0;
    width: 100%
}

.lovetesting {
    border-radius: 20px;
    margin: 0px 10% 0px;
}

iframe.lovetesting {
    width: 80%;
    height: 229px;
}

}